@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;1,300&display=swap');

body {
    margin: 0;
    background-image: linear-gradient(45deg, black, #221133);
    color:white;
    font-family: 'Noto Sans', sans-serif;
    height: 150vh;
}

header {
    background-color: #1f0735;
    padding: 0.9%;
}

main{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#txt-descriçao{
    font-weight: 50%;
    text-align: center;
}

h1{
    font-size: 45px;
}  

h2{
    font-size: 20px;
}

.card-cadastro{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #251f35;
    border-radius: 20px;
    box-shadow: 0px 15px 40px #00000095;

}

.card-cadastro{
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}
/*quando usamos o flex direction os valores do align-items e justify-content se invertem
entao o eixo Y sera o justify-content e o eixo X sera o align-items */

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 15px 40px #00000095;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.termo{
    display: flex;
    flex-direction: row;
}

.btn-cad{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: white;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #f7eeffce;
}

#cadastro{
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}